<h1>
  Someone has contacted us from the website!
</h1>

<p>
  Name:
  <%= "#{@contact.name}" %>
</p>
<p>
  Email:
  <%= "#{@contact.email}" %>
</p>
<p>
  Subject:
  <%= "#{@contact.subject}" %>
</p>
<p>
  Body:
  <%= "#{@contact.body}" %>
</p>