.hero {
  background-color: $dark-blue;
  text-align: center;
  padding: 4rem;

  img {
    width: 50%;

    @media (max-width: 750px) {
      width: 75%;
    }

    @media (max-width: 550px) {
      width: 100%;
    }
  }
}